.btn {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.no-repeat {
  background-color: yellow;
}

.repeat {
  background-color: coral;
  color: #ffffff;
}

.repeat-again {
  background-color: purple;
  color: #ffffff;
}

